<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express Application</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">
</head>
<body>