<div class="jumbotron">
    <h1 class="display-4">Hello, {{name}}</h1>
    <p class="lead">{{data}}</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<h1 class="indentation">Image gallery <span class="badge badge-primary"> Hello!</span></h1>
<hr class="thick-line"/>