{{> head}}
{{> navbar}}
<div class="text-center">
    <div class="col-8">
        <h1 class="indentation">Born to die in Berlin</h1>
        <p class="indentation">Sometimes I feel like screamin...sometimes I feel I just can't win</p>
        <p class="indentation">{{ capitalizar 'Sometimes I feel that my soul is as restless as the wind'}}</p>
        <p class="indentation">Or maybe i was born to die in Berlin</p>
    </div>
    <div class="col-4">
        <img src="assets/img/rui.jfif" class="img-thumbnail">
    </div>
</div>
{{> footer}}