{{> head}}      
        {{> navbar }}
        {{> jumbotron }}   
        <div class="text-center">
                <img src="assets/img/kaguya.jpg" class="img-fluid" class="rounded" alt="Kaguya Shinomiya">    
        </div>
             
{{> footer}}